.header {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
}

/* Центральная колонка (контент) */
.article {
  background-color: var(--color-bg); /* Светло-серый фон для контента */
  padding: 1rem;
}

/* Подвал */
.footer {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  padding: 1rem;
}

/* Акценты (ссылки, заголовки) */
h1, h2, h3 {
  color: var(--color-secondary); /* Серо-голубой для заголовков */
}

a, a:visited {
  color: var(--color-primary); /* Синий для ссылок */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  margin: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column; /* Вертикальный стек */
  min-height: 100vh; /* Минимум — высота экрана */
}

.main-grid {
  flex-grow: 1; /* Растягиваем основной блок, чтобы он занимал всё пространство */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; /* Пропорции 1:4:1 */
  gap: 20px; /* Отступы между колонками */
}


:root {
  --color-bg: #ffffff;
  --color-text: #333333;
  --color-border: #e0e0e0;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
}